body {
    background-color: lightblue;
}
h1 {
    color: black;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
}
li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3000000;
}